.env
.venv
__pyache__/
*.pyc
*.pyo
*.pdf
*npy    
image_retrieval_dataset/
PredictHousing/
DuyToanFolder copy/
day 24 17-1-2026/btvn/data/
day 25 24-1-2026/data/
day 25 24-1-2026/DetectNumber/data/
day 25 24-1-2026/DetectLeaf/cassavaleafdata/

