numpy
matplotlib
openai
opencv-python
pandas
pandasql
beautifulsoup4
requests
selenium
undetected-chromedriver
webdriver-manager
setuptools
scikit-learn
scipy
seaborn
tqdm
pydantic
python-dotenv
SQLAlchemy
ipykernel
ipython
Pillow
urllib3
certifi
charset-normalizer
idna
typing-extensions
anyio
httpcore
httpx
sniffio
trio
trio-websocket
websockets
wsproto
PySocks
pycparser
cffi
attrs
sortedcontainers
outcome
h11
greenlet
psutil
packaging
python-dateutil
pytz
tzdata
six
colorama
distro
platformdirs
wcwidth
prompt-toolkit
Pygments
jedi
parso
stack-data
executing
pure-eval
asttokens
decorator
matplotlib-inline
comm
traitlets
jupyter-core
jupyter-client
pyzmq
tornado
nest-asyncio
debugpy
kiwisolver
fonttools
cycler
contourpy
joblib
threadpoolctl
typing-inspection
jiter
annotated-types
pydantic-core
soupsieve
websocket-client